/* Design for title/header */
.title{
   font: 40px 'Arial Narrow', sans-serif;
   color:#54d6ab9d;
   font-weight: bolder;
   -webkit-text-stroke: 1.5px black; /* width and color of border */
   text-transform: uppercase;
   letter-spacing: -4px;
   position: relative;
 }
 
 /* Stuff to help with cutting of title/header on the sides */
 .title:before,
 .title:after {
   content: '';
   position: absolute;
   border-width: 20px;/* Väljer vart de ska "cuttas" i title*/
   border-style: solid;
   border-color: transparent;
 }
 /* Where it will begin to cut and end cut in title */
 .title:before
 {
   left: -4px;
   top: -6px;
   border-top-color: #343A40;
   border-left-color: #343A40;
 }
 .title:after{
     
   right: -4px;  
   bottom: 6px;
   border-bottom-color: #343A40;
   border-right-color: #343A40;
 }
 

 /* Design for tour-date box */

 /* title for tour-date */
 .container .one {
   color: #54d6ab9d;; 
   -webkit-text-stroke: 1px black; /* -webit ger border runt texten. */
   /* margin-left: 500px  */ /* Kommenterat bort den tillsvidare då de skevar när man försminskar fönstret. men detta centerar texten i fullscreen. Kan lösas genom media quiries I guess.*/ 
 }
 
 .container .row {
   background: rgba(0, 0, 0, 0.6);
   border: 2px solid rgba(0, 0, 0, 0.6);
   color: white;
 }
  /* Skapade Bordered som tillhör varje enskild col i tour-date, detta för att kunna hänvisa till just varje enskild "tour-date" och skapa en box runt den.*/
 .bordered {
     border: 2px solid rgba(0, 0, 0, 0.6);
 }
 
 .fa {
  padding: 20px;
  width: 65px;
  font-size: 30px;
  text-decoration: none;
  margin: 10px 5px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-spotify{
  background: black;
  color: lightgreen;
}

.icon-container{
  text-align: center;
}

.ReadMoreButton{
  background-color: rgba(0,0,0,0);
  color: white;
  border-color:black;
}

.ReadMoreButton:hover{
  border-color: #54d6ab9d;
  color: #54d6ab9d; 
}